In [164]:
from tkinter import N
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.support import expected_conditions as EC
from selenium.webdriver.common.by import By
from selenium.webdriver.support.wait import WebDriverWait
import numpy as np
import pandas as pd
from time import sleep
from tqdm import tqdm

In [42]:
awards = pd.read_pickle('renders/awards_v1_03.pickle')
test_link = awards['WikiLink'][0]

In [10]:
driver = webdriver.Chrome(executable_path='../driver/chromedriver')
driver.get(test_link)

C:\Users\LEGION\AppData\Local\Temp\ipykernel_19796\1121770783.py:1: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome(executable_path='../driver/chromedriver')

In [11]:
xp_early_life = '//*[@id="Early_life"]'
# driver.find_element(By.XPATH,xp_early_life).text
xp_early_para = '//*[@id="mw-content-text"]/div[1]/p[3]'
driver.find_element(By.XPATH,xp_early_para).text

'He is known for being the first to perform a successful human-to-human heart transplant and first successful lung transplant in the state of Andhra Pradesh, India. He was honored by the Government of India with the Padma Sri award in 2016.[citation needed]'

In [5]:
test_link = awards['WikiLink'][1]

In [29]:
from selenium.webdriver.common.action_chains import ActionChains
action = ActionChains(driver)

In [34]:
from selenium.webdriver.common.keys import Keys
# action.move_to_element(driver.find_element_by_xpath('//*[@id="firstHeading"]')).perform();
action.context_click().send_keys(Keys.ARROW_UP).send_keys(Keys.ARROW_UP).send_keys(Keys.ARROW_UP).send_keys(Keys.RETURN).perform()

In [9]:
driver.close()

In [13]:
%pip install wikipedia

Collecting wikipedia
  Using cached wikipedia-1.4.0-py3-none-any.whl
Requirement already satisfied: beautifulsoup4 in c:\users\legion\anaconda3\envs\indicwiki\lib\site-packages (from wikipedia) (4.10.0)
Requirement already satisfied: requests<3.0.0,>=2.0.0 in c:\users\legion\anaconda3\envs\indicwiki\lib\site-packages (from wikipedia) (2.27.1)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\legion\anaconda3\envs\indicwiki\lib\site-packages (from requests<3.0.0,>=2.0.0->wikipedia) (2021.10.8)
Requirement already satisfied: charset-normalizer~=2.0.0 in c:\users\legion\anaconda3\envs\indicwiki\lib\site-packages (from requests<3.0.0,>=2.0.0->wikipedia) (2.0.12)
Requirement already satisfied: idna<4,>=2.5 in c:\users\legion\anaconda3\envs\indicwiki\lib\site-packages (from requests<3.0.0,>=2.0.0->wikipedia) (2.10)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\legion\anaconda3\envs\indicwiki\lib\site-packages (from requests<3.0.0,>=2.0.0->wikipedia) (1.26.9)
Requirement already satisfied: soupsieve>1.2 in c:\users\legion\anaconda3\envs\indicwiki\lib\site-packages (from beautifulsoup4->wikipedia) (2.3.2)
Installing collected packages: wikipedia
Successfully installed wikipedia-1.4.0
Note: you may need to restart the kernel to use updated packages.

#### Using Wikipedia itself for scraping

In [168]:
import wikipedia

In [80]:
per_name = awards['Recipients'][8]

In [138]:
# person = wikipedia.page('Avasarala Kanyakumari')
person = wikipedia.page(pageid='32009044')
person

In [114]:
import requests
k = requests.get('https://en.wikipedia.org/wiki/A._Kanyakumari')

In [140]:
import requests
def get_page_id(link):
    if not pd.isna(link):
        k = requests.get(link)
        st = k.content.decode()
        lis_s = st.split(',')
        for i in lis_s:
            if 'wgArticleId' in i:
                l = i.strip().split(':')
                return str(l[-1].strip())     
        return np.nan
    return np.nan
get_page_id('https://en.wikipedia.org/wiki/A._G._K._Gokhale')

'32009044'

In [141]:
awards['Page Id'] = np.nan
for i in tqdm(range(awards.shape[0])):
# for i in tqdm(range(10)):
    per_link = awards['WikiLink'][i]
    if not pd.isna(per_link):
        awards['Page Id'] = get_page_id(per_link)
awards.tail(8)

100%|██████████| 4449/4449 [55:26<00:00,  1.34it/s]

,Recipients,WikiLink,Padma Shri Year,Padma Shri State,Padma Shri Field,Padma Shri Awarded By,Padma Bhushan Year,Padma Bhushan State,Padma Bhushan Field,Padma Bhushan Awarded By,...,Place of Death,Nationality,Spouse,Alma mater,Institutions,Other Awards including Padma,Occupation,Election Year,Posthumus,Page Id
4441,Zakir Husain,https://en.wikipedia.org/wiki/Zakir_Husain_(po...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"New Delhi, India",NaN,Shah Jahan Begum,University of Lucknow\nMohammedan Anglo-Orient...,NaN,Bharat Ratna(1963)\nPadma Vibhushan,NaN,No,No,318375
4442,Zakir Hussain (musician),https://en.wikipedia.org/wiki/Zakir_Hussain_(m...,1988.0,United States,Arts,R. Venkataraman,2002.0,Maharashtra,Arts,K. R. Narayanan,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,No,No,318375
4443,Zal Sohrab Tarapore,NaN,1992.0,"Maharashtra, India",Science and Engineering,R. Venkataraman,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,No,No,318375
4444,Zarina Currimbhoy,NaN,1955.0,"Maharashtra, India",Social Work,Rajendra Prasad,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,No,No,318375
4445,Zaverilal Mehta,https://en.wikipedia.org/wiki/Zaverilal_Mehta,2018.0,"Gujarat, India",Literature and Education,Ram Nath Kovind,NaN,NaN,NaN,NaN,...,NaN,Indian,NaN,NaN,NaN,Padma Sri(2018),Photographer,No,No,318375
4446,Zehra Ali Yavar Jung,https://en.wikipedia.org/wiki/Zehra_Ali_Yavar_...,NaN,NaN,NaN,NaN,1976.0,"Andhra Pradesh, India",Social Work,Fakhruddin Ali Ahmed,...,NaN,Indian,Ali Yavar Jung,NaN,NaN,Padma Bhushan,Social worker,No,No,318375
4447,Zohra Sehgal,https://en.wikipedia.org/wiki/Zohra_Sehgal,1998.0,Delhi,Arts,K. R. Narayanan,NaN,NaN,NaN,NaN,...,"Delhi, India",NaN,Kameshwar Nath Segal,NaN,NaN,NaN,"Actress, dancer, choreographer",Yes,No,318375
4448,Zubin Mehta,https://en.wikipedia.org/wiki/Zubin_Mehta,NaN,NaN,NaN,NaN,1966.0,—[D],Arts,Sarvepalli Radhakrishnan,...,NaN,NaN,Carmen Lasky​​(m.1958;div.1964)​\nNancy Kovack...,NaN,NaN,NaN,Conductor,No,No,318375

In [113]:
wikipedia.search('A. Kanyakumari')
wikipedia.page(title='A. Kanyakumari')
# w = wikipedia.requests.get('https://en.wikipedia.org/wiki/A._Kanyakumari')
# w._content

In [74]:
test_link

'https://en.wikipedia.org/wiki/A_Zakia'

In [75]:
person.url

'https://en.wikipedia.org/wiki/A._Lakshmanaswami_Mudaliar'

In [170]:
c = person.content

In [171]:
s = person.summary

In [169]:
per_name = 'A. K. Ramanujan'	
person = wikipedia.page(per_name)
person

In [173]:
person.url

'https://en.wikipedia.org/wiki/A._K._Ramanujan'

In [172]:
c

'Attipate Krishnaswami Ramanujan (16 March 1929 – 13 July 1993) was an Indian poet and scholar of Indian literature and Linguistics. Ramanujan was also a professor of Linguistics at University of Chicago.\nRamanujan was a poet, scholar, Linguist, philologist, folklorist, translator, and playwright. His academic research ranged across five languages: English, Kannada, Tamil, Telugu, and Sanskrit. .He published works on both classical and modern variants of this literature and argued strongly for giving local, non-standard dialects their due. Though he wrote widely and in a number of genres, Ramanujan\'s poems are remembered as enigmatic works of startling originality, sophistication and moving artistry. He was awarded the Sahitya Akademi Award posthumously in 1999 for The Collected Poems.\n\n\n== Biography ==\n\n\n=== Childhood ===\nRamanujan was born in Mysore City on 16 March 1929. His father, Attipat Asuri Krishnaswami, an astronomer and professor of mathematics at Mysore University, was known for his interest in English, Kannada and Sanskrit languages. His mother was a homemaker. Ramanujan also had a brother, A.K. Srinivasan who was a writer and mathematician.\n\n\n=== Education ===\nRamanujan was educated at Marimallappa\'s High School, Mysore, and at the Maharaja College of Mysore. In college, Ramanujan majored in science in his freshman year, but his father persuaded him to change his major from science to English.  Later, Ramanujan became a Fellow of Deccan College, Pune in 1958–59 and a Fulbright Scholar at Indiana University in 1959–62. He was educated in English at the University of Mysore and received his PhD in Linguistics from Indiana University.\n\n\n== Career ==\nRamanujan worked as a lecturer of English at Quilon and Belgaum; he later taught at The Maharaja Sayajirao University in Baroda for about eight years. In 1962, he joined the University of Chicago as an assistant professor. He was affiliated with the university throughout his career, teaching in several departments. He taught at other US universities as well, including Harvard University, University of Wisconsin, University of Michigan, University of California at Berkeley, and Carleton College. At the University of Chicago, Ramanujan was instrumental in shaping the South Asian Studies program. He worked in the departments of South Asian Languages and Civilizations, Linguistics, and with the Committee on Social Thought.\nIn 1976, the Government of India awarded him the Padma Shri, and in 1983, he was given the MacArthur Prize Fellowship (Shulman, 1994). In 1983, he was appointed the William E. Colvin Professor in the Departments of South Asian Languages and Civilizations, of Linguistics, and in the Committee on Social Thought at the University of Chicago. That same year, he received a MacArthur Fellowship. As an Indo-American writer, Ramanujan had the experience of the native as well as foreign milieu. His poems such as the "Conventions of Despair" reflected his views on the cultures and conventions of the east and west.\nA. K. Ramanujan died in Chicago on 13 July 1993 as result of an adverse reaction to anaesthesia during preparation for surgery.\n\n\n== Contributions to Indian studies ==\nA. K. Ramanujan\'s theoretical and aesthetic contributions span several disciplinary areas. In his cultural essays such as "Is There an Indian Way of Thinking?" (1990), he explains cultural ideologies and behavioral manifestations thereof in terms of an Indian psychology he calls "context-sensitive" thinking. In his work in folklore studies, Ramanujan highlights the inter-textuality of the Indian oral and written literary tradition. His essay "Where Mirrors Are Windows: Toward an Anthology of Reflections" (1989), and his commentaries in The Interior Landscape: Love Poems from a Classical Tamil Anthology (1967) and Folktales from India, Oral Tales from Twenty Indian Languages (1991) are good examples of his work in Indian folklore studies.\n\n\n== Controversy regarding his essay ==\nHis 1991 essay "Three Hundred Ramayanas: Five Examples and Three Thoughts on Translation" courted controversy over its inclusion in the B.A. in History syllabus of the University of Delhi in 2006. In this essay, he wrote of the existence of many versions of Ramayana and a few versions that portrayed Rama and Sita as siblings, which contradicts the popular versions of the Ramayana, such as those by Valmiki and Tulsidas.The comments written by A K Ramanujan were found to be derogatory by some Hindus and some of them decided to go to court for removal of the text from the Delhi University curriculum. ABVP, a nationalist student organisation, opposed its inclusion in the syllabus, saying it hurt the majority Hindu sentiment, who viewed Rama and Sita as incarnations of gods and who were husband and wife. They demanded the essay be removed from the syllabus. In 2008, the Delhi High Court directed Delhi University to convene a committee to decide on the essay\'s inclusion.  A four-member committee subsequently gave its 3-1 verdict in favor of its inclusion in the syllabus.\nThe academic council, however, ignored the committee\'s recommendation and voted to scrap the essay from its syllabus in Oct 2011. This led to protests by many historians and intellectuals, accusing Delhi University of succumbing to the diktat ("views") of non-historians.\n\n\n== Selected publications ==\nHis works include translations from Old Tamil and Old Kannada, such as:\n\nTranslations and Studies of LiteratureThe Interior Landscape: Love Poems from a Classical Tamil Anthology, 1967\nSpeaking of Siva, Penguin. 1973. ISBN 9780140442700.\nThe Literatures of India. Edited with Edwin Gerow. Chicago: University of Chicago Press, 1974\nHymns for the Drowning, 1981\nPoems of Love and War. New York: Columbia University Press, 1985\nFolktales from India, Oral Tales from Twenty Indian Languages, 1991\nIs There an Indian Way of Thinking? in  India Through Hindu Categories, edited by McKim Marriott, 1990\nWhen God Is a Customer: Telugu Courtesan Songs by Ksetrayya and Others (with Velcheru Narayana Rao and David Shulman), 1994\nA Flowering Tree and Other Oral Tales from India, 1997EssaysThree Hundred Ramayanas: Five Examples and Three Thoughts on Translation\nCollected Essays of A. K. Ramanujan\n"A Flowering Tree: A Women\'s Tale". In: Syllables of Sky: Studies in South Indian Civilization. Oxford University Press, 1995. pp. 20-42. ISBN 9780195635492. (posthumous article)PoetryThe Striders. London: Oxford University Press, 1966\nRelations. London, New York: Oxford University Press, 1971\nSelected Poems. New Delhi: Oxford University Press, 1976\nSecond Sight. New York: Oxford University Press,\nThe Collected Poems. New Delhi: Oxford University Press, 1997Appearances in the following poetry AnthologiesTen Twentieth-Century Indian Poets (1976) ed. by R. Parthasarathy and published by Oxford University Press, New Delhi\nThe Oxford India Anthology of Twelve Modern Indian Poets (1992) ed. by Arvind Krishna Mehrotra and published by Oxford University Press, New Delhi\nThe Golden Treasure of Writers Workshop Poetry (2008) ed. by Rubana Huq and published by Writers Workshop, CalcuttaKannadaSamskara. (translation of U R Ananthamurthy\'s Kannada novel)  Delhi: Oxford University Press, 1976\nHokkulalli Huvilla (translated to English - "No Flower in the Navel"). Dharwad, 1969\nMattu Itara Padyagalu (translated to English - "And Other Poems"). Dharwad, 1977\nKuntobille (translated to English - "Hopscotch")\nMattobbana Atma Charitre (translated to English - "Yet Another Man\'s Autobiography")\nHaladi Meenu (Kannada Translation of Shouri\'s English Novel)\nA. K. Ramanujan Samagra (Complete Works of A. K. Ramanujan in Kannada)\nA. K. Ramanujan Avara Aayda Kavitegalu\nA. K. Ramanujan Avara Aayda Barahagalu\n\n\n== See also ==\nList of translators into English\n\n\n== References ==\n\n\n== Further reading ==\nGuillermo Rodriguez, When Mirrors are Windows: A View of AK Ramanujan’s Poetics  ( OUP, 2016)\n\n\n== External links ==\nA. K. Ramanujan at Nationalencyklopedin\nA. K. Ramanujan at Poetry Foundation\nA. K. Ramanujan at Penguin India\nWorks by A. K. Ramanujan at Open Library'

In [176]:

import re
def parse_text(text,summ,per_name):
    d = {}
    d['Recipients'] = per_name
    d['Summary'] = summ
    text = text.replace("===","'''")
    t = text.split("==")
    flag  = True
    ke = []
    va = []
    for i in t:
        i = i.strip()
        if i != '' and i not in summ :
            if flag:
                ke.append(i)
                flag = False
            else:
                va.append(i)
                flag = True
    for i in range(len(va)):
        d[ke[i].lower()] = va[i]
    for k,v in zip(d.keys(),d.values()):
        d[k] = [v]
    return d 
parse_text(c,s,per_name)

{'Recipients': ['A. K. Ramanujan'],
 'Summary': ["Attipate Krishnaswami Ramanujan (16 March 1929 – 13 July 1993) was an Indian poet and scholar of Indian literature and Linguistics. Ramanujan was also a professor of Linguistics at University of Chicago.\nRamanujan was a poet, scholar, Linguist, philologist, folklorist, translator, and playwright. His academic research ranged across five languages: English, Kannada, Tamil, Telugu, and Sanskrit. .He published works on both classical and modern variants of this literature and argued strongly for giving local, non-standard dialects their due. Though he wrote widely and in a number of genres, Ramanujan's poems are remembered as enigmatic works of startling originality, sophistication and moving artistry. He was awarded the Sahitya Akademi Award posthumously in 1999 for The Collected Poems.\n\n"],
 'biography': ["''' Childhood '''\nRamanujan was born in Mysore City on 16 March 1929. His father, Attipat Asuri Krishnaswami, an astronomer and professor of mathematics at Mysore University, was known for his interest in English, Kannada and Sanskrit languages. His mother was a homemaker. Ramanujan also had a brother, A.K. Srinivasan who was a writer and mathematician.\n\n\n''' Education '''\nRamanujan was educated at Marimallappa's High School, Mysore, and at the Maharaja College of Mysore. In college, Ramanujan majored in science in his freshman year, but his father persuaded him to change his major from science to English.  Later, Ramanujan became a Fellow of Deccan College, Pune in 1958–59 and a Fulbright Scholar at Indiana University in 1959–62. He was educated in English at the University of Mysore and received his PhD in Linguistics from Indiana University."],
 'career': ['Ramanujan worked as a lecturer of English at Quilon and Belgaum; he later taught at The Maharaja Sayajirao University in Baroda for about eight years. In 1962, he joined the University of Chicago as an assistant professor. He was affiliated with the university throughout his career, teaching in several departments. He taught at other US universities as well, including Harvard University, University of Wisconsin, University of Michigan, University of California at Berkeley, and Carleton College. At the University of Chicago, Ramanujan was instrumental in shaping the South Asian Studies program. He worked in the departments of South Asian Languages and Civilizations, Linguistics, and with the Committee on Social Thought.\nIn 1976, the Government of India awarded him the Padma Shri, and in 1983, he was given the MacArthur Prize Fellowship (Shulman, 1994). In 1983, he was appointed the William E. Colvin Professor in the Departments of South Asian Languages and Civilizations, of Linguistics, and in the Committee on Social Thought at the University of Chicago. That same year, he received a MacArthur Fellowship. As an Indo-American writer, Ramanujan had the experience of the native as well as foreign milieu. His poems such as the "Conventions of Despair" reflected his views on the cultures and conventions of the east and west.\nA. K. Ramanujan died in Chicago on 13 July 1993 as result of an adverse reaction to anaesthesia during preparation for surgery.'],
 'contributions to indian studies': ['A. K. Ramanujan\'s theoretical and aesthetic contributions span several disciplinary areas. In his cultural essays such as "Is There an Indian Way of Thinking?" (1990), he explains cultural ideologies and behavioral manifestations thereof in terms of an Indian psychology he calls "context-sensitive" thinking. In his work in folklore studies, Ramanujan highlights the inter-textuality of the Indian oral and written literary tradition. His essay "Where Mirrors Are Windows: Toward an Anthology of Reflections" (1989), and his commentaries in The Interior Landscape: Love Poems from a Classical Tamil Anthology (1967) and Folktales from India, Oral Tales from Twenty Indian Languages (1991) are good examples of his work in Indian folklore studies.'],
 'controversy regarding his essay': ['His 1991 essay "Three Hundred Ramayanas: Five Examples and Three Thoughts on Translation" courted controversy over its inclusion in the B.A. in History syllabus of the University of Delhi in 2006. In this essay, he wrote of the existence of many versions of Ramayana and a few versions that portrayed Rama and Sita as siblings, which contradicts the popular versions of the Ramayana, such as those by Valmiki and Tulsidas.The comments written by A K Ramanujan were found to be derogatory by some Hindus and some of them decided to go to court for removal of the text from the Delhi University curriculum. ABVP, a nationalist student organisation, opposed its inclusion in the syllabus, saying it hurt the majority Hindu sentiment, who viewed Rama and Sita as incarnations of gods and who were husband and wife. They demanded the essay be removed from the syllabus. In 2008, the Delhi High Court directed Delhi University to convene a committee to decide on the essay\'s inclusion.  A four-member committee subsequently gave its 3-1 verdict in favor of its inclusion in the syllabus.\nThe academic council, however, ignored the committee\'s recommendation and voted to scrap the essay from its syllabus in Oct 2011. This led to protests by many historians and intellectuals, accusing Delhi University of succumbing to the diktat ("views") of non-historians.'],
 'selected publications': ['His works include translations from Old Tamil and Old Kannada, such as:\n\nTranslations and Studies of LiteratureThe Interior Landscape: Love Poems from a Classical Tamil Anthology, 1967\nSpeaking of Siva, Penguin. 1973. ISBN 9780140442700.\nThe Literatures of India. Edited with Edwin Gerow. Chicago: University of Chicago Press, 1974\nHymns for the Drowning, 1981\nPoems of Love and War. New York: Columbia University Press, 1985\nFolktales from India, Oral Tales from Twenty Indian Languages, 1991\nIs There an Indian Way of Thinking? in  India Through Hindu Categories, edited by McKim Marriott, 1990\nWhen God Is a Customer: Telugu Courtesan Songs by Ksetrayya and Others (with Velcheru Narayana Rao and David Shulman), 1994\nA Flowering Tree and Other Oral Tales from India, 1997EssaysThree Hundred Ramayanas: Five Examples and Three Thoughts on Translation\nCollected Essays of A. K. Ramanujan\n"A Flowering Tree: A Women\'s Tale". In: Syllables of Sky: Studies in South Indian Civilization. Oxford University Press, 1995. pp. 20-42. ISBN 9780195635492. (posthumous article)PoetryThe Striders. London: Oxford University Press, 1966\nRelations. London, New York: Oxford University Press, 1971\nSelected Poems. New Delhi: Oxford University Press, 1976\nSecond Sight. New York: Oxford University Press,\nThe Collected Poems. New Delhi: Oxford University Press, 1997Appearances in the following poetry AnthologiesTen Twentieth-Century Indian Poets (1976) ed. by R. Parthasarathy and published by Oxford University Press, New Delhi\nThe Oxford India Anthology of Twelve Modern Indian Poets (1992) ed. by Arvind Krishna Mehrotra and published by Oxford University Press, New Delhi\nThe Golden Treasure of Writers Workshop Poetry (2008) ed. by Rubana Huq and published by Writers Workshop, CalcuttaKannadaSamskara. (translation of U R Ananthamurthy\'s Kannada novel)  Delhi: Oxford University Press, 1976\nHokkulalli Huvilla (translated to English - "No Flower in the Navel"). Dharwad, 1969\nMattu Itara Padyagalu (translated to English - "And Other Poems"). Dharwad, 1977\nKuntobille (translated to English - "Hopscotch")\nMattobbana Atma Charitre (translated to English - "Yet Another Man\'s Autobiography")\nHaladi Meenu (Kannada Translation of Shouri\'s English Novel)\nA. K. Ramanujan Samagra (Complete Works of A. K. Ramanujan in Kannada)\nA. K. Ramanujan Avara Aayda Kavitegalu\nA. K. Ramanujan Avara Aayda Barahagalu'],
 'see also': ['List of translators into English'],
 'references': ['Further reading'],
 'guillermo rodriguez, when mirrors are windows: a view of ak ramanujan’s poetics  ( oup, 2016)': ['External links']}

In [61]:
# re.findall('==',c)
re.split('== [*] ==',c)

['A Zakia is a literati, a literary personality from the Siaha town of Mizoram, India, who was awarded the Padma Sri, the fourth highest civilian honour, by the Indian government in March 2018 for the preservation of the Mara language and cultural ethos through his exemplary contribution towards Mara journalism and literary creation.\n\n\n== Early life ==\nA Zakia was born in Lorrain Ville, in the Saikho village of Mizoram in 1930. He completed his schooling from the Government Middle School of the same village.\n\n\n== Career ==\nAfter completing his education in 1952, he joined the government school where he studied as a primary school teacher. He retired as a school teacher after 44 years of service in 1996.\nApart from teaching in school, he worked as a news editor for various publications and magazines, and retained key editorial positions in various organisations. He has authored  more than ten books in the Mara language, including Children’s Bible and Mara Grammar. The Board of Mara Literature approved the Mara Grammar book for common use and as a standard text in schools. Between 1993 and 1996, the Board of School Education of the Mara Autonomous District Council made A Zakia the official translator of primary school text books.His contributions led to the upliftment of Mara literature, at a time when the Mara language was slowly losing its existence due to the influence of English language and other dialects of the nearby tribes. According to ISL International, there are only 50,000 Mara speaking population remaining, and thus, it has been classified as an endangered language.In 2018, the President of India, Ram Nath Kovind, conferred upon A Zakia the Padma Sri award for his contribution towards the upliftment and preservation of the endangered Mara language. He became the first person among the Mara tribe to receive the award.\n\n\n== References ==']

In [142]:
persons = pd.DataFrame(columns=['Recipients','Summary','awards & honors','career','references'])
for i in tqdm(range(awards.shape[0])):
# for i in tqdm(range(10)):
    per_name = awards['Recipients'][i]
    if not pd.isna(awards['WikiLink'][i]):
        person = wikipedia.page(per_name)
        if awards['WikiLink'][i] == person.url:
            wiki_dict = parse_text(person.content,person.summary,per_name)
            person_df = pd.DataFrame(wiki_dict)
            persons = pd.concat([persons,person_df])
        else:
            person = wikipedia.page(pageid=awards['Page Id'][i])
            if awards['WikiLink'][i] == person.url:
                wiki_dict = parse_text(person.content,person.summary,per_name)
                person_df = pd.DataFrame(wiki_dict)
                persons = pd.concat([persons,person_df])
            else:
                person_df = pd.DataFrame({'Recipients':[per_name]})
                persons = pd.concat([persons,person_df])
    else:
        person_df = pd.DataFrame({'Recipients':[per_name]})
        persons = pd.concat([persons,person_df])
persons

100%|██████████| 10/10 [00:17<00:00,  1.71s/it]

,Recipients,Summary,Awards & Honors,Early Life,Career,Early life,Hindi cinema career,Awards,Health and financial issues,Freedom fighter,...,Textbooks,References,Career at L&T,= Ring fencing L&T,= Shaping L&T into a ‘Nation Builder’,Chairman – NSDC,Philanthropy,Awards and honours,Personal life,Bibliography
0,A Zakia,"A Zakia is a literati, a literary personality ...",NaN,NaN,"After completing his education in 1952, he joi...","A Zakia was born in Lorrain Ville, in the Saik...",NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,A. G. K. Gokhale,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,A. Jayanta Kumar Singh,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,A. K. Gupta,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,A. K. Hangal,Avtar Kishan Hangal (1 February 1914 – 26 Augu...,NaN,NaN,NaN,"Born into a Kashmiri Pandit family, he spent h...",He started his Hindi film career at the age of...,The government of India awarded him the Padma ...,"Hangal, who had more than 200 films to his cre...",Hangal participated in the Indian freedom move...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,A. K. Ramanujan,Attipate Krishnaswami Ramanujan (16 March 1929...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,A. Kanyakumari,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,A. Lakshmanaswami Mudaliar,Diwan Bahadur Sir Arcot Lakshmanaswami Mudalia...,"He was knighted in the 1945 New Year Honours,\...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Clinical Obstetrics first edition 1938; later ...,"S. Muthiah, Achievements in double The Hindu, ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,A. M. Naik,Anil Manibhai Naik (born 9 June 1942) is an In...,NaN,NaN,NaN,Naik is a Gujarati. He was born to a family of...,NaN,NaN,NaN,NaN,...,NaN,External links,"On 15 March 1965, Naik joined L&T, as a junior...","=\nIn the late 1980s, L&T encountered a take o...",=\nNaik's stewardship of L&T is characterised ...,"In 2018, the Government of India appointed Nai...","In August 2016, Naik announced that he would g...",Honorary Consul General for Denmark.\nSenior m...,A.M. Naik is married to Geeta Naik. They have ...,‘The Nationalist – How A.M. Naik Transformed L...
0,A. Marthanda Pillai,"A. Marthanda Pillai- MS (Neuro), MNAMS (Neuro)...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [144]:
persons.describe()

,Recipients,Summary,Awards & Honors,Early Life,Career,Early life,Hindi cinema career,Awards,Health and financial issues,Freedom fighter,...,Textbooks,References,Career at L&T,= Ring fencing L&T,= Shaping L&T into a ‘Nation Builder’,Chairman – NSDC,Philanthropy,Awards and honours,Personal life,Bibliography
count,10,6,1,0,1,3,1,1,1,1,...,1,2,1,1,1,1,1,1,1,1
unique,10,6,1,0,1,3,1,1,1,1,...,1,2,1,1,1,1,1,1,1,1
top,A Zakia,"A Zakia is a literati, a literary personality ...","He was knighted in the 1945 New Year Honours,\...",NaN,"After completing his education in 1952, he joi...","A Zakia was born in Lorrain Ville, in the Saik...",He started his Hindi film career at the age of...,The government of India awarded him the Padma ...,"Hangal, who had more than 200 films to his cre...",Hangal participated in the Indian freedom move...,...,Clinical Obstetrics first edition 1938; later ...,"S. Muthiah, Achievements in double The Hindu, ...","On 15 March 1965, Naik joined L&T, as a junior...","=\nIn the late 1980s, L&T encountered a take o...",=\nNaik's stewardship of L&T is characterised ...,"In 2018, the Government of India appointed Nai...","In August 2016, Naik announced that he would g...",Honorary Consul General for Denmark.\nSenior m...,A.M. Naik is married to Geeta Naik. They have ...,‘The Nationalist – How A.M. Naik Transformed L...
freq,1,1,1,NaN,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1

In [148]:
persons.reset_index(inplace=True)
# persons['Recipients Anuvaad Telugu'][0]

nan

In [149]:
from anuvaad import Anuvaad
anu = Anuvaad("english-telugu")

def create_telugu_anuvaad(col,data):
    di = {}
    data[col+' Anuvaad Telugu'] = np.nan
    for i in tqdm(range(data.shape[0])):
        if pd.isna(data[col][i]):
            data[col + ' Anuvaad Telugu'][i] = np.nan
        else:
            if data[col][i] in di:
                data[col + ' Anuvaad Telugu'][i] = di[data[col][i]]
            else:
                data[col + ' Anuvaad Telugu'][i] = anu.anuvaad(data[col][i])
                di[data[col][i]] = data[col + ' Anuvaad Telugu'][i]
    return data
create_telugu_anuvaad('Recipients',data=persons)

  0%|          | 0/10 [00:00<?, ?it/s]C:\Users\LEGION\AppData\Local\Temp\ipykernel_17568\3948294343.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[col + ' Anuvaad Telugu'][i] = anu.anuvaad(data[col][i])
100%|██████████| 10/10 [00:34<00:00,  3.44s/it]

,index,Recipients,Summary,Awards & Honors,Early Life,Career,Early life,Hindi cinema career,Awards,Health and financial issues,...,References,Career at L&T,= Ring fencing L&T,= Shaping L&T into a ‘Nation Builder’,Chairman – NSDC,Philanthropy,Awards and honours,Personal life,Bibliography,Recipients Anuvaad Telugu
0,0,A Zakia,"A Zakia is a literati, a literary personality ...",NaN,NaN,"After completing his education in 1952, he joi...","A Zakia was born in Lorrain Ville, in the Saik...",NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ఎ జకీయా
1,0,A. G. K. Gokhale,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ఎ. జి. కె. గోఖలే
2,0,A. Jayanta Kumar Singh,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ఎ. జయంత కుమార్ సింగ్
3,0,A. K. Gupta,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ఎ. కె. గుప్తా
4,0,A. K. Hangal,Avtar Kishan Hangal (1 February 1914 – 26 Augu...,NaN,NaN,NaN,"Born into a Kashmiri Pandit family, he spent h...",He started his Hindi film career at the age of...,The government of India awarded him the Padma ...,"Hangal, who had more than 200 films to his cre...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ఎ. కె. హంగల్
5,0,A. K. Ramanujan,Attipate Krishnaswami Ramanujan (16 March 1929...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ఎ. కె. రామానుజన్
6,0,A. Kanyakumari,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ఎ. కన్యాకుమారి
7,0,A. Lakshmanaswami Mudaliar,Diwan Bahadur Sir Arcot Lakshmanaswami Mudalia...,"He was knighted in the 1945 New Year Honours,\...",NaN,NaN,NaN,NaN,NaN,NaN,...,"S. Muthiah, Achievements in double The Hindu, ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ఎ. లక్ష్మణస్వామి ముదలియార్
8,0,A. M. Naik,Anil Manibhai Naik (born 9 June 1942) is an In...,NaN,NaN,NaN,Naik is a Gujarati. He was born to a family of...,NaN,NaN,NaN,...,External links,"On 15 March 1965, Naik joined L&T, as a junior...","=\nIn the late 1980s, L&T encountered a take o...",=\nNaik's stewardship of L&T is characterised ...,"In 2018, the Government of India appointed Nai...","In August 2016, Naik announced that he would g...",Honorary Consul General for Denmark.\nSenior m...,A.M. Naik is married to Geeta Naik. They have ...,‘The Nationalist – How A.M. Naik Transformed L...,ఎ. ఎం. నాయక్
9,0,A. Marthanda Pillai,"A. Marthanda Pillai- MS (Neuro), MNAMS (Neuro)...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ఎ. మార్తాండా పిళ్లై

In [150]:
from deep_translator import GoogleTranslator

def create_telugu_google(col,data):
    di = {}
    data[col+' google Telugu'] = np.nan
    for i in tqdm(range(data.shape[0])):
        if pd.isna(data[col][i]):
            data[col + ' google Telugu'][i] = np.nan
        else:
            if data[col][i] in di:
                data[col + ' google Telugu'][i] = di[data[col][i]]
            else:
                data[col + ' google Telugu'][i] = GoogleTranslator(source='auto', target='te').translate(data[col][i])
                di[data[col][i]] = data[col + ' google Telugu'][i]
    return data
create_telugu_google('Recipients',data=persons)

  0%|          | 0/10 [00:00<?, ?it/s]C:\Users\LEGION\AppData\Local\Temp\ipykernel_17568\3957938879.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[col + ' google Telugu'][i] = GoogleTranslator(source='auto', target='te').translate(data[col][i])
100%|██████████| 10/10 [00:11<00:00,  1.17s/it]

,index,Recipients,Summary,Awards & Honors,Early Life,Career,Early life,Hindi cinema career,Awards,Health and financial issues,...,Career at L&T,= Ring fencing L&T,= Shaping L&T into a ‘Nation Builder’,Chairman – NSDC,Philanthropy,Awards and honours,Personal life,Bibliography,Recipients Anuvaad Telugu,Recipients google Telugu
0,0,A Zakia,"A Zakia is a literati, a literary personality ...",NaN,NaN,"After completing his education in 1952, he joi...","A Zakia was born in Lorrain Ville, in the Saik...",NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ఎ జకీయా,ఒక జాకియా
1,0,A. G. K. Gokhale,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ఎ. జి. కె. గోఖలే,A. G. K. గోఖలే
2,0,A. Jayanta Kumar Singh,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ఎ. జయంత కుమార్ సింగ్,ఎ. జయంత కుమార్ సింగ్
3,0,A. K. Gupta,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ఎ. కె. గుప్తా,ఎ. కె. గుప్తా
4,0,A. K. Hangal,Avtar Kishan Hangal (1 February 1914 – 26 Augu...,NaN,NaN,NaN,"Born into a Kashmiri Pandit family, he spent h...",He started his Hindi film career at the age of...,The government of India awarded him the Padma ...,"Hangal, who had more than 200 films to his cre...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ఎ. కె. హంగల్,ఎ. కె. స్టుపిడ్
5,0,A. K. Ramanujan,Attipate Krishnaswami Ramanujan (16 March 1929...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ఎ. కె. రామానుజన్,ఎ. కె. రామానుజన్
6,0,A. Kanyakumari,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ఎ. కన్యాకుమారి,ఎ. కన్యాకుమారి
7,0,A. Lakshmanaswami Mudaliar,Diwan Bahadur Sir Arcot Lakshmanaswami Mudalia...,"He was knighted in the 1945 New Year Honours,\...",NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ఎ. లక్ష్మణస్వామి ముదలియార్,ఎ. లక్ష్మణస్వామి ముదలియార్
8,0,A. M. Naik,Anil Manibhai Naik (born 9 June 1942) is an In...,NaN,NaN,NaN,Naik is a Gujarati. He was born to a family of...,NaN,NaN,NaN,...,"On 15 March 1965, Naik joined L&T, as a junior...","=\nIn the late 1980s, L&T encountered a take o...",=\nNaik's stewardship of L&T is characterised ...,"In 2018, the Government of India appointed Nai...","In August 2016, Naik announced that he would g...",Honorary Consul General for Denmark.\nSenior m...,A.M. Naik is married to Geeta Naik. They have ...,‘The Nationalist – How A.M. Naik Transformed L...,ఎ. ఎం. నాయక్,A. M. నాయక్
9,0,A. Marthanda Pillai,"A. Marthanda Pillai- MS (Neuro), MNAMS (Neuro)...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ఎ. మార్తాండా పిళ్లై,ఎ. మార్తాండ పిళ్లై

In [160]:
from time import sleep
def anu_vaad_onebyone(para):
    if pd.isna(para) or type(para) == np.int64:
        return np.nan
    else:
        if len(para) != 0:
            lis_para = [i.strip() for i in para.strip().split('.') if i != '']
            anu_lis_para =  anu.anuvaad(lis_para)
            trans_para = '.'.join(anu_lis_para) + '.'
            return trans_para
    return np.nan

def create_telugu_anuvaad_by_split(col,data):
    di = {}
    data[col+' Anuvaad Split Telugu'] = np.nan
    for i in tqdm(range(data.shape[0])):
        # print(i)
        sleep(random.randint(0,4))
        if type(data[col][i]) == float:
            data[col + ' Anuvaad Split Telugu'][i] = np.nan
        else:
            if data[col][i] in di:
                data[col + ' Anuvaad Split Telugu'][i] = di[data[col][i]]
            else:
                data[col + ' Anuvaad Split Telugu'][i] = anu_vaad_onebyone(data[col][i])
                di[data[col][i]] = data[col + ' Anuvaad Split Telugu'][i]
    return data

def google_onebyone(para):
    if pd.isna(para) or type(para) == np.int64:
        return np.nan
    else:
        if len(para) != 0:
            lis_para = [i.strip() for i in para.strip().split('.') if i != '']
            gle_lis_para = []
            for lis_para_line in lis_para:
                if lis_para_line:
                    gle_lis_para.append(GoogleTranslator(source='auto', target='te').translate(lis_para_line))
            if len(gle_lis_para) != 0: 
                trans_para = '.'.join(gle_lis_para) + '.'
                return trans_para
    return np.nan

import random

def create_telugu_google_by_split(col,data):
    di = {}
    data[col+' google Split Telugu'] = np.nan
    for i in tqdm(range(data.shape[0])):
        # print(i)
        sleep(random.randint(0,4))
        if pd.isna(data[col][i]):
            data[col + ' google Split Telugu'][i] = np.nan
        else:
            if data[col][i] in di:
                data[col + ' google Split Telugu'][i] = di[data[col][i]]
            else:
                data[col + ' google Split Telugu'][i] = google_onebyone(data[col][i])
                di[data[col][i]] = data[col + ' google Split Telugu'][i]
    return data

In [161]:
# list(persons.columns)

In [162]:
cs = list(persons.columns)
cols = []
for i in cs:
    if 'Ramanujan' not in cs:
        cols.append(i)
for col in tqdm(cols):
    create_telugu_anuvaad_by_split(col,data=persons)
    create_telugu_google_by_split(col,data=persons)

  0%|          | 0/40 [00:00<?, ?it/s]C:\Users\LEGION\AppData\Local\Temp\ipykernel_17568\3372918248.py:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[col + ' Anuvaad Split Telugu'][i] = anu_vaad_onebyone(data[col][i])
C:\Users\LEGION\AppData\Local\Temp\ipykernel_17568\3372918248.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[col + ' Anuvaad Split Telugu'][i] = di[data[col][i]]
100%|██████████| 10/10 [00:16<00:00,  1.66s/it]
C:\Users\LEGION\AppData\Local\Temp\ipykernel_17568\3372918248.py:58: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[col + ' google Split Telugu'][i] = google_onebyone(data[col][i])
C:\Users\LEGION\AppData\Local\Temp\ipykernel_17568\3372918248.py:56: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[col + ' google Split Telugu'][i] = di[data[col][i]]
100%|██████████| 10/10 [00:17<00:00,  1.76s/it]
  2%|▎         | 1/40 [00:34<22:17, 34.29s/it]C:\Users\LEGION\AppData\Local\Temp\ipykernel_17568\3372918248.py:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[col + ' Anuvaad Split Telugu'][i] = anu_vaad_onebyone(data[col][i])
100%|██████████| 10/10 [00:33<00:00,  3.34s/it]
C:\Users\LEGION\AppData\Local\Temp\ipykernel_17568\3372918248.py:58: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[col + ' google Split Telugu'][i] = google_onebyone(data[col][i])
100%|██████████| 10/10 [00:35<00:00,  3.54s/it]
  5%|▌         | 2/40 [01:43<34:34, 54.59s/it]C:\Users\LEGION\AppData\Local\Temp\ipykernel_17568\3372918248.py:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[col + ' Anuvaad Split Telugu'][i] = anu_vaad_onebyone(data[col][i])
100%|██████████| 10/10 [02:28<00:00, 14.86s/it]
C:\Users\LEGION\AppData\Local\Temp\ipykernel_17568\3372918248.py:58: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[col + ' google Split Telugu'][i] = google_onebyone(data[col][i])
100%|██████████| 10/10 [00:59<00:00,  5.93s/it]
  8%|▊         | 3/40 [05:11<1:16:51, 124.64s/it]C:\Users\LEGION\AppData\Local\Temp\ipykernel_17568\3372918248.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[col + ' Anuvaad Split Telugu'][i] = np.nan
C:\Users\LEGION\AppData\Local\Temp\ipykernel_17568\3372918248.py:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[col + ' Anuvaad Split Telugu'][i] = anu_vaad_onebyone(data[col][i])
100%|██████████| 10/10 [00:35<00:00,  3.55s/it]
C:\Users\LEGION\AppData\Local\Temp\ipykernel_17568\3372918248.py:53: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[col + ' google Split Telugu'][i] = np.nan
C:\Users\LEGION\AppData\Local\Temp\ipykernel_17568\3372918248.py:58: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[col + ' google Split Telugu'][i] = google_onebyone(data[col][i])
100%|██████████| 10/10 [00:35<00:00,  3.59s/it]
 10%|█         | 4/40 [06:22<1:02:10, 103.64s/it]C:\Users\LEGION\AppData\Local\Temp\ipykernel_17568\3372918248.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[col + ' Anuvaad Split Telugu'][i] = np.nan
100%|██████████| 10/10 [00:21<00:00,  2.15s/it]
C:\Users\LEGION\AppData\Local\Temp\ipykernel_17568\3372918248.py:53: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[col + ' google Split Telugu'][i] = np.nan
100%|██████████| 10/10 [00:23<00:00,  2.34s/it]
 12%|█▎        | 5/40 [07:07<48:05, 82.46s/it]   C:\Users\LEGION\AppData\Local\Temp\ipykernel_17568\3372918248.py:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[col + ' Anuvaad Split Telugu'][i] = anu_vaad_onebyone(data[col][i])
100%|██████████| 10/10 [00:51<00:00,  5.19s/it]
C:\Users\LEGION\AppData\Local\Temp\ipykernel_17568\3372918248.py:58: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[col + ' google Split Telugu'][i] = google_onebyone(data[col][i])
100%|██████████| 10/10 [00:38<00:00,  3.87s/it]
 15%|█▌        | 6/40 [08:38<48:17, 85.23s/it]C:\Users\LEGION\AppData\Local\Temp\ipykernel_17568\3372918248.py:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[col + ' Anuvaad Split Telugu'][i] = anu_vaad_onebyone(data[col][i])
100%|██████████| 10/10 [02:21<00:00, 14.17s/it]
C:\Users\LEGION\AppData\Local\Temp\ipykernel_17568\3372918248.py:58: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[col + ' google Split Telugu'][i] = google_onebyone(data[col][i])
100%|██████████| 10/10 [00:45<00:00,  4.51s/it]
 18%|█▊        | 7/40 [11:44<1:05:08, 118.45s/it]C:\Users\LEGION\AppData\Local\Temp\ipykernel_17568\3372918248.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[col + ' Anuvaad Split Telugu'][i] = np.nan
C:\Users\LEGION\AppData\Local\Temp\ipykernel_17568\3372918248.py:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[col + ' Anuvaad Split Telugu'][i] = anu_vaad_onebyone(data[col][i])
100%|██████████| 10/10 [01:42<00:00, 10.29s/it]
C:\Users\LEGION\AppData\Local\Temp\ipykernel_17568\3372918248.py:53: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[col + ' google Split Telugu'][i] = np.nan
C:\Users\LEGION\AppData\Local\Temp\ipykernel_17568\3372918248.py:58: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[col + ' google Split Telugu'][i] = google_onebyone(data[col][i])
100%|██████████| 10/10 [00:35<00:00,  3.51s/it]
 20%|██        | 8/40 [14:02<1:06:29, 124.69s/it]C:\Users\LEGION\AppData\Local\Temp\ipykernel_17568\3372918248.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[col + ' Anuvaad Split Telugu'][i] = np.nan
C:\Users\LEGION\AppData\Local\Temp\ipykernel_17568\3372918248.py:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[col + ' Anuvaad Split Telugu'][i] = anu_vaad_onebyone(data[col][i])
100%|██████████| 10/10 [00:29<00:00,  2.94s/it]
C:\Users\LEGION\AppData\Local\Temp\ipykernel_17568\3372918248.py:53: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[col + ' google Split Telugu'][i] = np.nan
C:\Users\LEGION\AppData\Local\Temp\ipykernel_17568\3372918248.py:58: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[col + ' google Split Telugu'][i] = google_onebyone(data[col][i])
100%|██████████| 10/10 [00:26<00:00,  2.61s/it]
 22%|██▎       | 9/40 [14:58<53:14, 103.05s/it]  C:\Users\LEGION\AppData\Local\Temp\ipykernel_17568\3372918248.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[col + ' Anuvaad Split Telugu'][i] = np.nan
C:\Users\LEGION\AppData\Local\Temp\ipykernel_17568\3372918248.py:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[col + ' Anuvaad Split Telugu'][i] = anu_vaad_onebyone(data[col][i])
100%|██████████| 10/10 [01:27<00:00,  8.78s/it]
C:\Users\LEGION\AppData\Local\Temp\ipykernel_17568\3372918248.py:53: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[col + ' google Split Telugu'][i] = np.nan
C:\Users\LEGION\AppData\Local\Temp\ipykernel_17568\3372918248.py:58: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[col + ' google Split Telugu'][i] = google_onebyone(data[col][i])
100%|██████████| 10/10 [00:41<00:00,  4.13s/it]
 25%|██▌       | 10/40 [17:07<55:32, 111.08s/it]C:\Users\LEGION\AppData\Local\Temp\ipykernel_17568\3372918248.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[col + ' Anuvaad Split Telugu'][i] = np.nan
C:\Users\LEGION\AppData\Local\Temp\ipykernel_17568\3372918248.py:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[col + ' Anuvaad Split Telugu'][i] = anu_vaad_onebyone(data[col][i])
100%|██████████| 10/10 [00:41<00:00,  4.19s/it]
C:\Users\LEGION\AppData\Local\Temp\ipykernel_17568\3372918248.py:53: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[col + ' google Split Telugu'][i] = np.nan
C:\Users\LEGION\AppData\Local\Temp\ipykernel_17568\3372918248.py:58: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[col + ' google Split Telugu'][i] = google_onebyone(data[col][i])
100%|██████████| 10/10 [00:25<00:00,  2.56s/it]
 28%|██▊       | 11/40 [18:15<47:14, 97.75s/it] C:\Users\LEGION\AppData\Local\Temp\ipykernel_17568\3372918248.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[col + ' Anuvaad Split Telugu'][i] = np.nan
C:\Users\LEGION\AppData\Local\Temp\ipykernel_17568\3372918248.py:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[col + ' Anuvaad Split Telugu'][i] = anu_vaad_onebyone(data[col][i])
100%|██████████| 10/10 [01:09<00:00,  6.98s/it]
C:\Users\LEGION\AppData\Local\Temp\ipykernel_17568\3372918248.py:53: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[col + ' google Split Telugu'][i] = np.nan
C:\Users\LEGION\AppData\Local\Temp\ipykernel_17568\3372918248.py:58: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[col + ' google Split Telugu'][i] = google_onebyone(data[col][i])
100%|██████████| 10/10 [00:39<00:00,  3.93s/it]
 30%|███       | 12/40 [20:04<47:13, 101.21s/it]C:\Users\LEGION\AppData\Local\Temp\ipykernel_17568\3372918248.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[col + ' Anuvaad Split Telugu'][i] = np.nan
C:\Users\LEGION\AppData\Local\Temp\ipykernel_17568\3372918248.py:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[col + ' Anuvaad Split Telugu'][i] = anu_vaad_onebyone(data[col][i])
100%|██████████| 10/10 [00:08<00:00,  1.19it/s]
C:\Users\LEGION\AppData\Local\Temp\ipykernel_17568\3372918248.py:53: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[col + ' google Split Telugu'][i] = np.nan
C:\Users\LEGION\AppData\Local\Temp\ipykernel_17568\3372918248.py:58: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[col + ' google Split Telugu'][i] = google_onebyone(data[col][i])
100%|██████████| 10/10 [00:23<00:00,  2.30s/it]
 32%|███▎      | 13/40 [20:35<36:02, 80.09s/it] C:\Users\LEGION\AppData\Local\Temp\ipykernel_17568\3372918248.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[col + ' Anuvaad Split Telugu'][i] = np.nan
C:\Users\LEGION\AppData\Local\Temp\ipykernel_17568\3372918248.py:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[col + ' Anuvaad Split Telugu'][i] = anu_vaad_onebyone(data[col][i])
100%|██████████| 10/10 [00:21<00:00,  2.11s/it]
C:\Users\LEGION\AppData\Local\Temp\ipykernel_17568\3372918248.py:53: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[col + ' google Split Telugu'][i] = np.nan
C:\Users\LEGION\AppData\Local\Temp\ipykernel_17568\3372918248.py:58: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[col + ' google Split Telugu'][i] = google_onebyone(data[col][i])
100%|██████████| 10/10 [00:20<00:00,  2.07s/it]
 35%|███▌      | 14/40 [21:17<29:41, 68.53s/it]C:\Users\LEGION\AppData\Local\Temp\ipykernel_17568\3372918248.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[col + ' Anuvaad Split Telugu'][i] = np.nan
C:\Users\LEGION\AppData\Local\Temp\ipykernel_17568\3372918248.py:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[col + ' Anuvaad Split Telugu'][i] = anu_vaad_onebyone(data[col][i])
100%|██████████| 10/10 [00:18<00:00,  1.81s/it]
C:\Users\LEGION\AppData\Local\Temp\ipykernel_17568\3372918248.py:53: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[col + ' google Split Telugu'][i] = np.nan
C:\Users\LEGION\AppData\Local\Temp\ipykernel_17568\3372918248.py:58: SettingWithCopyWarning:

NotValidPayload: 0 --> text must be a valid text with maximum 5000 character, otherwise it cannot be translated

In [163]:
persons.to_excel('renders/awards_v2_01_top_10_trans.xlsx')
persons.to_csv('renders/awards_v2_01_top_10_trans.csv')
persons.to_pickle('renders/awards_v2_01_top_10_trans.pickle')

### Keeping

> Early Life

> Carrer

> Awards

**ONLY**

#### Testing Translate

In [179]:
from deep_translator import GoogleTranslator
awards = pd.read_pickle('renders/awards_v1_03.pickle')
awards_new = pd.read_pickle('renders/awards_v1_03.pickle')

In [180]:
awards.head(4)

,Recipients,WikiLink,Padma Shri Year,Padma Shri State,Padma Shri Field,Padma Shri Awarded By,Padma Bhushan Year,Padma Bhushan State,Padma Bhushan Field,Padma Bhushan Awarded By,...,Death Date,Place of Death,Nationality,Spouse,Alma mater,Institutions,Other Awards including Padma,Occupation,Election Year,Posthumus
0,A Zakia,https://en.wikipedia.org/wiki/A_Zakia,2018.0,"Mizoram, India",Literature and Education,Ram Nath Kovind,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,No,No
1,A. G. K. Gokhale,https://en.wikipedia.org/wiki/A._G._K._Gokhale,2016.0,"Andhra Pradesh, India",Medicine,Pranab Mukherjee,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Physician,Surgeon",No,No
2,A. Jayanta Kumar Singh,NaN,2008.0,"Manipur, India",Medicine,Pratibha Patil,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,No,No
3,A. K. Gupta,NaN,2009.0,"Maharashtra, India",Medicine,Pratibha Patil,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Yes,No

In [ ]:
persons = pd.DataFrame(columns=['Recipients','Summary','awards & honors','career','references'])
for i in tqdm(range(awards.shape[0])):
# for i in tqdm(range(10)):
    per_name = awards['Recipients'][i]
    if not pd.isna(awards['WikiLink'][i]):
        person = wikipedia.page(per_name)
        if awards['WikiLink'][i] == person.url:
            wiki_dict = parse_text(person.content,person.summary,per_name)
            person_df = pd.DataFrame(wiki_dict)
            persons = pd.concat([persons,person_df])
        else:
            person = wikipedia.page(pageid=awards['Page Id'][i])
            if awards['WikiLink'][i] == person.url:
                wiki_dict = parse_text(person.content,person.summary,per_name)
                person_df = pd.DataFrame(wiki_dict)
                persons = pd.concat([persons,person_df])
            else:
                person_df = pd.DataFrame({'Recipients':[per_name]})
                persons = pd.concat([persons,person_df])
    else:
        person_df = pd.DataFrame({'Recipients':[per_name]})
        persons = pd.concat([persons,person_df])
persons